html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  color: unset;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.App-input-code {
  padding: 10px;
  font-size: 38px;
}
