html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.App-input-code {
  padding: 10px;
  font-size: 38px;
}
