.question-container {
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.question-title {
  margin: 10px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.question-sequence-info {
  font-size: 12px;
  color: #969696;
  font-weight: normal;
}
.question-next {
  all: unset;
  background-color: #ececec;
  color: #a5a5a5;
  margin: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 32px;
  /* font-size: 22px; */
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}
.question-next-active {
  background-color: #128af1;
/* background: linear-gradient(78deg, #3b4fc3, #ac45e0); */
  color: #ffffff;
}
